<section id="header">
    <a href="/"><img src="../img/logo.png" class="logo" alt=""></a>

    <div>
        <ul id="navbar">
            <li><a href="/">Home</a></li>
            <!-- <li><a class="active" href="shop.html">Shop</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li> -->
            <li><a href="/login">Login</a></li>
            <li id="lg-bag"><a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a>
                <a class="badge hidden"></a>
            </li>
            <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>